.app{
  background-image: url(./asset/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  
}